/*
    ----------
    "Nulstillende" styling
    ----------
*/

body {
    margin: 0;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

/*
    ----------
    Fonts - lokale, men hentet via. Google Fonts
    ----------
*/

/* Normal (variabel font) */
@font-face {
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
    src: url(../fonts/sofiasans-normal.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Italic (variabel font) */
@font-face {
    font-family: 'Sofia Sans';
    font-style: italic;
    font-weight: 1 1000;
    font-display: swap;
    src: url(../fonts/sofiasans-italic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Condensed Black */
@font-face {
    font-family: 'Sofia Sans Condensed';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/sofiasans-condensed-black.woff2) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
    ----------
    Variabler
    ----------
*/

:root {
    --black: #2A292C;
    --white: #FFFFFF;
    --orange: #FAAB23;
    --green: #009926;
    --font-stack-primary: 'Sofia Sans', system-ui, sans-serif;
    --font-stack-secondary: 'Sofia Sans Condensed', system-ui, sans-serif;
    --font-size-normal: 16px;
    --font-size-medium: 1.375rem;
    --font-size-large: 1.5rem;
    --font-size-huge: 1.875rem;
    --font-size-small: 0.825rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    --line-height-normal: 1.33;
    --line-height-heading: 1.125;
    --content-width-standard: 1300px;
    --transition-standard: 150ms cubic-bezier(.71,.12,.04,.81);
    --border-radius-normal: 8px;
}

@media screen and (min-width: 599px) {

    :root {
        --font-size-large: 1.875rem;
        --font-size-huge: 2rem;
    }
}

@media screen and (min-width: 839px) {

    :root {
        --font-size-huge: 2.25rem;
    }
}

/*
    ----------
    Basis-styling
    ----------
*/

body {
    font-family: var(--font-stack-primary);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--black);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-heading);
    text-transform: uppercase;
    margin: 0;
}

h1:has(+ p),
h2:has(+ p),
h3:has(+ p) {
    margin-bottom: 0.25em;
}

h1 {
    font-size: var(--font-size-huge);
}

p {
    margin: 0;
}

p:has(+ p) {
    margin-bottom: 0.75em;
}

p:has(+ *:not(p)) {
    margin-bottom: 1.25em;
}

a {
    text-decoration: underline dotted;
    color: inherit;
}

/*
    ----------
    Styling til genanvendelige elementer
    ----------
*/

.some-icon-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.some-icon {
    height: auto;
    width: 32px;
}

button,
input[type=button],
.button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    background-color: var(--orange);
    padding: 0.825rem 1.25rem;
    border-radius: var(--border-radius-normal);
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
}

.button--arrow {
    border-radius: var(--border-radius-normal) 0 0 var(--border-radius-normal);
}

.button--arrow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 40px;
    background-color: var(--black);
    border-radius: 0 var(--border-radius-normal) var(--border-radius-normal) 0;
}

.button--arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 20px);
    transform: translate(-50%, -50%);
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid var(--orange);
}

.button--secondary {
    background-color: transparent;
    border: 2px solid var(--black);
}

.button--secondary-on-dark {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
}

input[type=text],
textarea {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: var(--border-radius-normal);
    border: 1px solid var(--black);
    padding: 0.5rem;
    font-family: var(--font-stack-primary);
    font-size: var(--font-size-normal);
    box-sizing: border-box;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.language-selector__language {
    margin: 0;
    cursor: pointer;
}

.language-selector__language--current-language {
    font-weight: var(--font-weight-black);
    position: relative;
}

.language-selector__language--current-language::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: var(--orange);
}

.members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.member {
    text-decoration: none;
}

.member__image {
    height: 80px;
    width: 200px;
    object-fit: contain;
}

.member__image + .member__name {
    margin-top: 0.5em;
}

.member__name {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 839px) {

    .members {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*
    ----------
    Styling til genanvendelige classes
    ----------
*/

.background--black {
    background-color: var(--black);
    color: var(--white);
}

.background--white {
    background-color: var(--white);
}

.background--green {
    background-color: var(--green);
    color: var(--white);
}

.background--orange {
    background-color: var(--orange);
}

/*
    ----------
    Styling til formularer og tilhørende elementer
    ----------
*/

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.form__element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.125rem;
}

.form__element--textarea {
    grid-column: 1 / span all;
}

.form__element label {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    position: relative;
    left: var(--border-radius-normal);
}

.form__element input,
.form__element textarea {
    width: 100%;
}

@media screen and (min-width: 599px) {

    .form {
        grid-template-columns: 1fr 1fr;
    }
}

/*
    ----------
    Styling til header og tilhørende elementer
    ----------
*/

.header {
    height: 80px;
    padding: 15px 0;
    box-sizing: border-box;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-inner {
    height: 100%;
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.header__home-link {
    height: 100%;
    margin-right: auto;
}

.header__logo {
    height: 100%;
    width: auto;
    fill: var(--black);
}

.main-nav-desktop {
    display: none;
}

.main-nav-mobile {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: var(--transition-standard);
    z-index: 2;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.main-nav-mobile--open {
    transform: translateX(0);
    pointer-events: initial;
}

.main-nav__items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.main-nav-mobile .main-nav__items {
    flex-direction: column;
}

.main-nav__link {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-black);
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.main-nav__link--current-page {
    position: relative;
}

.main-nav__link--current-page::after {
    content: '';
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    height: 5px;
    width: 100%;
    background-color: var(--orange);
}

.main-nav-mobile .main-nav__link {
    font-size: var(--font-size-large);
}

.header-inner > .language-selector {
    margin-left: 40px;
    font-size: var(--font-size-small);
    display: none;
}

.main-nav-mobile .some-icon-wrapper {
    gap: 20px;
}

.main-nav-mobile .some-icon {
    width: 40px;
    fill: var(--black);
}

.main-nav-mobile .language-selector {
    font-size: var(--font-size-medium);
}

.nav-toggle {
    height: 100%;
    width: 45px;
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger {
    height: 100%;
    width: 30px;
    position: relative;
}

.hamburger__line {
    height: 3px;
    width: 30px;
    background-color: var(--black);
    position: absolute;
    top: 50%;
    right: 0;
}

.hamburger__line:first-child {
    transform: translateY(calc(-50% - 8px));
}

.hamburger__line:nth-child(2) {
    transform: translateY(-50%);
}

.hamburger__line:last-child {
    transform: translateY(calc(-50% + 8px));
}

.nav-close {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}

.nav-close__line {
    height: 3px;
    width: 30px;
    background-color: var(--black);
    position: absolute;
    top: 50%;
    left: 50%;
}

.nav-close__line:first-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.nav-close__line:last-child {
    transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (min-width: 839px) {

    .main-nav-desktop {
        display: flex;
    }

    .header-inner > .language-selector {
        display: flex;
    }

    .nav-toggle {
        display: none;
    }
}

/*
    ----------
    Styling til cards
    ----------
*/

.card {
    position: relative;
}

.card--highlighted {
    height: 400px;
}

.card__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card__overlay {
    height: 100%;
    width: 100%;
    background-color: color-mix(in srgb, var(--black), transparent 70%);
    position: absolute;
    top: 0;
    left: 0;
}

.card-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
    padding: 40px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.card-content-inner {
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
}

.card__tag {
    font-family: var(--font-stack-secondary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-black);
    text-transform: uppercase;
    padding: 0 1.5em;
    height: 2em;
    line-height: 2em;
    background-color: var(--white);
    color: var(--black);
    display: inline-block;
    border-radius: 1em;
    margin: 0;
}

.card__tag:has(+ *) {
    margin-bottom: 0.5em;
}

.card__title,
.card__excerpt {
    max-width: 700px;
}

.card__title {
    font-size: var(--font-size-huge);
}

/*
    ----------
    Styling til generelt indhold
    ----------
*/

.section {
    padding: 40px 0;
}

.section + .section {
    padding-top: 0;
}

.section.section--has-background {
    padding-top: 40px;
}

.section--has-background + .section {
    padding-top: 40px;
}

.section--align-center {
    text-align: center;
}

.section-inner {
    height: 100%;
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
}

.content-box {
    padding: 40px 20px;
    max-width: 500px;
}

.content-box--wide {
    max-width: 700px;
    margin: 0 auto;
}

.content-box:has(+ *) {
    padding-bottom: 70px;
}

.content-box + img {
    position: relative;
    top: -30px;
    left: 30px;
    height: 250px;
    width: calc(100% - 20px);
    max-width: 800px;
    object-fit: cover;
}

/*
    ----------
    Styling til footer og tilhørende elementer
    ----------
*/

.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 50px 0;
}

.footer-inner {
    height: 100%;
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
}

.footer__logo {
    fill: var(--white);
    height: 50px;
    display: block;
}

.footer-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.footer-row:has(+ .footer-row) {
    margin-bottom: 40px;
}

.footer__heading {
    margin: 0;
}

.footer__heading:has(+ *) {
    margin-bottom: 0.75em;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footer-list__link {
    position: relative;
    text-decoration: none;
}

.footer-list__link::after {
    content: '';
    position: absolute;
    top: calc(100% + 0.075em);
    left: 0;
    height: 1px;
    width: 50px;
    background-color: var(--white);
    opacity: 0.3;
    transition: all var(--transition-standard);
}

.footer-list__link:hover::after {
    width: 100%;
    opacity: 1;
}

.footer .some-icon {
    fill: var(--white);
}

@media screen and (min-width: 599px) {

    .footer-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 839px) {

    .footer-row {
        grid-template-columns: repeat(3, 1fr);
    }
}