/*
    ----------
    "Nulstillende" styling
    ----------
*/

body {
    margin: 0;
}

ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

/*
    ----------
    Fonts - lokale, men hentet via. Google Fonts
    ----------
*/

/* Normal (variabel font) */
@font-face {
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
    src: url(../fonts/sofiasans-normal.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Italic (variabel font) */
@font-face {
    font-family: 'Sofia Sans';
    font-style: italic;
    font-weight: 1 1000;
    font-display: swap;
    src: url(../fonts/sofiasans-italic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Condensed Black */
@font-face {
    font-family: 'Sofia Sans Condensed';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/sofiasans-condensed-black.woff2) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
    ----------
    Variabler
    ----------
*/

:root {
    --black: #2A292C;
    --white: #FFFFFF;
    --orange: #FAAB23;
    --pale-orange: #FEF6E8;
    --green: #009926;
    --font-stack-primary: 'Sofia Sans', system-ui, sans-serif;
    --font-stack-secondary: 'Sofia Sans Condensed', system-ui, sans-serif;
    --font-size-normal: 16px;
    --font-size-medium: 1.375rem;
    --font-size-large: 1.5rem;
    --font-size-huge: 1.875rem;
    --font-size-small: 0.825rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    --line-height-normal: 1.33;
    --line-height-heading: 1.125;
    --content-width-standard: 1300px;
    --content-width-narrow: 700px;
    --transition-standard: 150ms ease-in-out;
    --border-radius-normal: 8px;
}

@media screen and (min-width: 600px) {

    :root {
        --font-size-large: 1.875rem;
        --font-size-huge: 2rem;
    }
}

@media screen and (min-width: 840px) {

    :root {
        --font-size-huge: 2.25rem;
    }
}

/*
    ----------
    Basis-styling
    ----------
*/

body {
    font-family: var(--font-stack-primary);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    background-color: var(--pale-orange);
    color: var(--black);
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-black);
    line-height: var(--line-height-heading);
    text-transform: uppercase;
    margin: 0;
}

h1:has(+ *),
h2:has(+ *),
h3:has(+ *) {
    margin-bottom: 0.375em;
}

h1 {
    font-size: var(--font-size-huge);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-medium);
}

p {
    margin: 0;
}

p:has(+ p) {
    margin-bottom: 0.75em;
}

p:has(+ *:not(p)) {
    margin-bottom: 1.375em;
}

a {
    text-decoration: underline dotted;
    color: inherit;
}

.regular-ul {
    list-style: none;
}

.regular-ul li {
    position: relative;
    left: calc(20px + 1ch);
    padding-right: calc(20px + 1ch);
}

.regular-ul li + li {
    margin-top: 1em;
}

.regular-ul li::before {
    content: '';
    height: 15px;
    width: 15px;
    background-color: var(--orange);
    position: absolute;
    top: 50%;
    left: calc((20px + 1ch) * -1);
    transform: translateY(-50%);
    border-radius: 50%;
}

blockquote {
    font-style: italic;
}

blockquote p:first-child::before {
    content: '“';
}

blockquote p:last-child::after {
    content: '”';
}

input[type=text],
textarea {
    appearance: none;
    -webkit-appearance: none;
    border-radius: var(--border-radius-normal);
    border: 1px solid var(--black);
    padding: 0.5rem;
    font-family: var(--font-stack-primary);
    font-size: var(--font-size-normal);
    box-sizing: border-box;
}

input[type=text]:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

input[type=text]::placeholder,
textarea::placeholder {
    color: color-mix(in srgb, var(--black), transparent 35%);
}

textarea {
    resize: none;
}

button,
input[type=button],
.button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    background-color: var(--orange);
    padding: 0.825rem 1.25rem;
    border-radius: var(--border-radius-normal);
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    transition: background-color var(--transition-standard);
}

.button:hover {
    background-color: color-mix(in srgb, var(--orange), var(--black) 10%);
}

.button--arrow {
    border-radius: var(--border-radius-normal) 0 0 var(--border-radius-normal);
}

.button--arrow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 40px;
    background-color: var(--black);
    border-radius: 0 var(--border-radius-normal) var(--border-radius-normal) 0;
}

.button--arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 21px);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid var(--orange);
}

.button--secondary {
    background-color: transparent;
    border: 2px solid var(--black);
    transition: background-color var(--transition-standard);
    transition-property: background-color, color;
}

.button--secondary:hover {
    background-color: var(--black);
    color: var(--white);
}

.button--secondary.button--arrow::before {
    background-color: transparent;
    border: 2px solid var(--black);
    top: -2px;
}

.button--secondary.button--arrow::after {
    border-left: 7px solid var(--black);
    left: calc(100% + 22px);
}

.button--secondary-on-dark {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    transition: background-color var(--transition-standard);
    transition-property: background-color, color;
}

.button--secondary-on-dark:hover {
    background-color: var(--white);
    color: var(--black);
}

.button--secondary-on-dark.button--arrow::before {
    background-color: transparent;
    border: 2px solid var(--white);
    top: -2px;
}

.button--secondary-on-dark.button--arrow::after {
    border-left: 7px solid var(--white);
    left: calc(100% + 22px);
}

/*
    ----------
    Styling til genanvendelige elementer
    ----------
*/

.some-icon-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.some-icon {
    height: auto;
    width: 32px;
    display: block;
    transition: fill var(--transition-standard);
}

.some-link:hover .some-icon {
    fill: var(--orange);
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.language-selector__language {
    margin: 0;
    cursor: pointer;
    position: relative;
}

.language-selector__language::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: var(--orange);
    transition: transform var(--transition-standard);
    transform-origin: top center;
    transform: scaleY(0);
}

.language-selector__language:hover::after {
    transform: scaleY(1);
}

.language-selector__language--current-language {
    font-weight: var(--font-weight-black);
}

.language-selector__language--current-language::after {
    transform: scaleY(1);
}

.members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
}

.member {
    text-decoration: none;
}

.member__image {
    height: 80px;
    width: 180px;
    object-fit: contain;
}

.member__image + .member__name {
    margin-top: 0.5em;
}

.member__name {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
}

* + .slideshow {
    margin-top: 40px;
}

.slideshow:has(+ *) {
    margin-bottom: 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.325;
}

.overlay--black {
    background-color: var(--black);
}

.overlay--green {
    background-color: var(--green);
}

.overlay--orange {
    background-color: var(--orange);
}

@media screen and (min-width: 840px) {

    .members {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*
    ----------
    Styling til genanvendelige classes
    ----------
*/

.background--black {
    background-color: var(--black);
    color: var(--white);
}

.background--white {
    background-color: var(--white);
    color: var(--black);
}

.background--green {
    background-color: var(--green);
    color: var(--white);
}

.background--orange {
    background-color: var(--orange);
    color: var(--black);
}

/*
    ----------
    Styling til formularer og tilhørende elementer
    ----------
*/

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.form__element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.125rem;
}

.form__element label {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    position: relative;
    left: var(--border-radius-normal);
}

.form__element input,
.form__element textarea {
    width: 100%;
}

@media screen and (min-width: 600px) {

    .form {
        grid-template-columns: 1fr 1fr;
    }

    .form__element--textarea {
        grid-column: 1 / span 2;
    }
}

/*
    ----------
    Styling til layouts
    ----------
*/

.layout-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.layout-carousel {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

@media screen and (min-width: 600px) {

    .col-2,
    .col-3 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 840px) {

    .col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*
    ----------
    Styling til slideshow
    ----------
*/

.slideshow {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slide {
    scroll-snap-align: start;
}

/*
    ----------
    Styling til header og tilhørende elementer
    ----------
*/

.header {
    height: 80px;
    padding: 15px 0;
    box-sizing: border-box;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-inner {
    height: 100%;
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.header__home-link {
    height: 100%;
    margin-right: auto;
}

.header__logo {
    height: 100%;
    width: auto;
    fill: var(--black);
}

.main-nav-desktop {
    display: none;
}

.main-nav-mobile {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: var(--transition-standard);
    z-index: 2;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.main-nav-mobile--open {
    transform: translateX(0);
    pointer-events: initial;
}

.main-nav__items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.main-nav-mobile .main-nav__items {
    flex-direction: column;
}

.main-nav__link {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-black);
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.main-nav__link::after {
    content: '';
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    height: 5px;
    width: 100%;
    background-color: var(--orange);
    transition: transform var(--transition-standard);
    transform-origin: top center;
    transform: scaleY(0);
}

.main-nav__link:hover::after {
    transform: scaleY(1);
}

.main-nav__link--current-page::after {
    transform: scaleY(1);
}

.main-nav-mobile .main-nav__link {
    font-size: var(--font-size-large);
}

.header-inner > .language-selector {
    margin-left: 40px;
    font-size: var(--font-size-small);
    display: none;
}

.main-nav-mobile .some-icon-wrapper {
    gap: 20px;
}

.main-nav-mobile .some-icon {
    width: 40px;
    fill: var(--black);
}

.main-nav-mobile .language-selector {
    font-size: var(--font-size-medium);
}

.nav-toggle {
    height: 100%;
    width: 45px;
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger {
    height: 100%;
    width: 30px;
    position: relative;
}

.hamburger__line {
    height: 3px;
    width: 30px;
    background-color: var(--black);
    position: absolute;
    top: 50%;
    right: 0;
}

.hamburger__line:first-child {
    transform: translateY(calc(-50% - 8px));
}

.hamburger__line:nth-child(2) {
    transform: translateY(-50%);
}

.hamburger__line:last-child {
    transform: translateY(calc(-50% + 8px));
}

.nav-close {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}

.nav-close__line {
    height: 3px;
    width: 30px;
    background-color: var(--black);
    position: absolute;
    top: 50%;
    left: 50%;
}

.nav-close__line:first-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.nav-close__line:last-child {
    transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (min-width: 840px) {

    .main-nav-desktop {
        display: flex;
    }

    .header-inner > .language-selector {
        display: flex;
    }

    .nav-toggle {
        display: none;
    }
}

/*
    ----------
    Styling til accordions
    ----------
*/

.accordions {
    padding: 20px 0;
}

.accordion {
    position: relative;
}

.accordion + .accordion {
    margin-top: 20px;
}

.accordion-header {
    padding: 40px 20px;
    max-width: 800px;
    cursor: pointer;
}

.accordion-header:has(img) {
    padding-top: 20px;
}

.accordion--expanded .accordion-header {
    padding-bottom: 120px;
}

.accordion__title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.accordion__title h3 {
    margin: 0;
}

.accordion__title img {
    height: 60px;
    width: auto;
}

.accordion__toggle {
    content: '';
    position: relative;
    margin-right: 10px;
    margin-left: auto;
    width: 0;
    height: 0;
    border-top: 9px solid var(--black);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transition: transform var(--transition-standard);
}

.accordion__toggle--light {
    border-top-color: var(--white);
}

.accordion--expanded .accordion__toggle {
    transform: rotate(180deg);
}

.accordion__title:has(+ .accordion__description) {
    margin-bottom: 20px;
}

.accordion-content {
    position: relative;
    left: 20px;
    display: none;
}

.accordion--expanded .accordion-content {
    display: block;
}

.accordion-header + .accordion-content {
    margin-top: -105px;
}

/*
    ----------
    Styling til stories
    ----------
*/

.tag {
    font-family: var(--font-stack-secondary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-black);
    text-transform: uppercase;
    padding: 0 1.5em;
    height: 2em;
    line-height: 2em;
    background-color: var(--white);
    color: var(--black);
    display: inline-block;
    border-radius: 1em;
    margin: 0;
}

.stories.layout-carousel {
    height: 300px;
}

.story {
    height: 300px;
    max-width: 560px;
    position: relative;
}

.n--carousel .story {
    position: absolute;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease, opacity 1s ease;
}

.n--carousel .story.active {
    transform: translateX(0);
    opacity: 1;
}

.n--carousel .story.exit {
    transform: translateX(-100%);
    opacity: 0;
}

.stories.layout-carousel .story {
    width: 350px;
    min-width: 350px;
    scroll-snap-align: start;
}

.story__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.story-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.story-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: auto;
    width: 100%;
}

.story__sender {
    height: 60px;
    object-fit: contain;
}

.story__date {
    font-size: var(--font-size-small);
    margin: 0 0 0.5em;
}

.story__button {
    margin-top: 15px;
}

.big-story {
    position: relative;
    height: 400px;
}

.big-story__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.big-story-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
    padding: 40px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.big-story-content-inner {
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
}

.big-story__tag:has(+ *) {
    margin-bottom: 0.5em;
}

.big-story__title,
.big-story__excerpt {
    max-width: 700px;
}

.big-story__title {
    font-size: var(--font-size-huge);
}

/*
    ----------
    Styling til cards
    ----------
*/

.cards {
    padding: 20px 0;
}

.card {
    padding: 20px;
    max-width: 560px;
}

.cards.layout-carousel .card {
    min-width: 300px;
    scroll-snap-align: start;
}

.card__title {
    font-family: var(--font-stack-secondary);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-black);
    text-transform: uppercase;
}

.card__title:has(+ .card__image) {
    margin-bottom: 20px;
}

.card__image {
    height: auto;
    width: calc(100% + 40px);
    aspect-ratio: 16 / 9;
    position: relative;
    transform: translateX(-20px);
    object-fit: cover;
    display: block;
}

.card-content {
    padding-top: 20px;
}

.card__quotee {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-size-medium);
    text-transform: uppercase;
}

.card__quotee:has(+ *) {
    margin-bottom: 0.5em;
}

/*
    ----------
    Styling til filtrering
    ----------
*/

.filters-container {
    margin: 30px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.filters-container__title {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-black);
    text-transform: uppercase;
    margin: 0;
}

.filter__select-wrapper {
    position: relative;
}

.filter__select-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(100% - 40px);
    height: 100%;
    width: 40px;
    background-color: transparent;
    border-radius: 0 var(--border-radius-normal) var(--border-radius-normal) 0;
    z-index: 1;
    pointer-events: none;
}

.filter__select-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% - 19px);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 7px solid var(--black);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    z-index: 1;
}

.filter__select {
    appearance: none;
    -webkit-appearance: none;
    border-radius: var(--border-radius-normal);
    border: 1px solid var(--black);
    padding: 0.5rem calc(0.5rem + 40px) 0.5rem 0.5rem;
    font-family: var(--font-stack-primary);
    font-size: var(--font-size-normal);
    box-sizing: border-box;
    background-color: var(--white);
    position: relative;
    z-index: 0;
}

/*
    ----------
    Styling til generelt indhold
    ----------
*/

.section {
    padding: 40px 0;
}

.section + .section {
    padding-top: 0;
}

.section.section--has-background {
    padding-top: 40px;
}

.section--has-background + .section {
    padding-top: 40px;
}

.section--align-center {
    text-align: center;
}

.section--align-center .section-inner > * {
    margin-right: auto;
    margin-left: auto;
}

.section-inner {
    height: 100%;
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
}

.section-inner:has(.content-box) {
    display: flex;
    flex-direction: column;
}

.section:has(.content-box):nth-child(odd) .section-inner {
    align-items: flex-end;
}

.section--align-center .section-inner {
    display: block;
}

.content-box {
    padding: 40px 20px;
    max-width: 600px;
}

.content-box--wide {
    max-width: 800px;
    margin: 0 auto;
}

.content-box:has(+ *) {
    padding-bottom: 70px;
}

.content-box + img,
.content-box + .stories,
.content-box + .cards {
    position: relative;
    top: -30px;
    left: 20px;
}

.content-box + img {
    height: 250px;
    width: 100%;
    max-width: 1000px;
    object-fit: cover;
}

.section:nth-child(odd) .content-box + img,
.section:nth-child(odd) .content-box + .stories,
.section:nth-child(odd) .content-box + .cards {
    left: auto;
    right: 20px;
}

.section-inner p {
    max-width: 800px;
}

@media screen and (min-width: 600px) {

    .content-box {
        padding-right: 30px;
        padding-left: 30px;
    }

    .content-box + img,
    .content-box + .stories,
    .content-box + .cards {
        left: 30px;
    }

    .section:nth-child(odd) .content-box + img,
    .section:nth-child(odd) .content-box + .stories,
    .section:nth-child(odd) .content-box + .cards {
        right: 30px;
    }
}

@media screen and (min-width: 840px) {

    .section.section--has-background:has(.content-box):has(.content-box + img),
    .section.section--has-background:has(.content-box):has(.content-box + .stories),
    .section.section--has-background:has(.content-box):has(.content-box + .cards) {
        padding-bottom: 70px;
    }
    
    .section-inner:has(.content-box) {
        flex-direction: row;
    }

    .section:has(.content-box):nth-child(odd) .section-inner {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .content-box:not(.content-box--wide) {
        padding: 40px 60px 40px 20px;
    }

    .section:nth-child(odd) .content-box:not(.content-box--wide) {
        padding: 40px 20px 40px 60px;
    }

    .content-box + img,
    .content-box + .stories,
    .content-box + .cards {
        top: 30px;
        left: -30px;
        min-width: 400px;
    }

    .section:not(.section--has-background):has(+ .section) {
        padding-bottom: 80px;
    }
    
    .section:nth-child(odd) .content-box + img,
    .section:nth-child(odd) .content-box + .stories,
    .section:nth-child(odd) .content-box + .cards {
        left: 30px;
    }
}

/*
    ----------
    Styling til artikler
    ----------
*/

.article {
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
    padding: 60px 0;
}

.article-header,
.article-meta {
    width: 100%;
    max-width: var(--content-width-narrow);
    margin: 0 auto;
}

.article-header {
    margin-bottom: 40px;
}

.article__tag {
    margin-bottom: 1em;
    background-color: var(--black);
    color: var(--white);
}

.article__summary {
    font-size: var(--font-size-medium);
    opacity: 0.625;
}

.article-hero {
    width: 100%;
    max-width: var(--content-width-standard);
    margin: 0 auto 40px;
}

.article-hero__image {
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.article-hero__caption {
    opacity: 0.625;
}

.article-meta {
    margin-bottom: 30px;
}

.article__author {
    margin: 0 0 0.25em;
    font-weight: var(--font-weight-bold);
}

.article__date {
    font-size: var(--font-size-small);
    margin: 0;
}

.article-content > *:not(img):not(iframe):not(video) {
    width: 100%;
    max-width: var(--content-width-narrow);
    margin-right: auto;
    margin-left: auto;
}

/*
    ----------
    Styling til hero og tilhørende elementer
    ----------
*/

.hero {
    height: 300px;
    width: 100%;
    position: relative;
}

.hero__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hero-inner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: var(--content-width-standard);
    max-width: calc(100% - 40px);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--white);
    padding: 40px 0;
    box-sizing: border-box;
}

.hero__title,
.hero__text {
    max-width: 800px;
}

/*
    ----------
    Styling til footer og tilhørende elementer
    ----------
*/

.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 50px 0;
}

.footer-inner {
    height: 100%;
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
}

.footer__logo {
    fill: var(--white);
    height: 50px;
    display: block;
}

.footer__logo:has(+ *) {
    margin-bottom: 20px;
}

.footer-row {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 60px;
}

.footer-row:has(+ .footer-row) {
    margin-bottom: 40px;
}

.footer__heading {
    margin: 0;
}

.footer__heading:has(+ *) {
    margin-bottom: 0.75em;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footer-list__link {
    position: relative;
    text-decoration: none;
}

.footer-list__link::after {
    content: '';
    position: absolute;
    top: calc(100% + 0.075em);
    left: 0;
    height: 1px;
    width: 65%;
    background-color: var(--white);
    opacity: 0.3;
    transition: all var(--transition-standard);
}

.footer-list__link:hover::after {
    width: 100%;
    opacity: 1;
}

.footer .some-icon {
    fill: var(--white);
}

@media screen and (min-width: 600px) {

    .footer-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 840px) {

    .footer-row {
        grid-template-columns: repeat(4, 1fr);
    }
}