/*
    ----------
    "Nulstillende" styling
    ----------
*/

body {
    margin: 0;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

/*
    ----------
    Fonts - lokale, men hentet via. Google Fonts
    ----------
*/

/* Normal (variabel font) */
@font-face {
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
    src: url(../fonts/sofiasans-normal.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Italic (variabel font) */
@font-face {
    font-family: 'Sofia Sans';
    font-style: italic;
    font-weight: 1 1000;
    font-display: swap;
    src: url(../fonts/sofiasans-italic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Condensed Black */
@font-face {
    font-family: 'Sofia Sans Condensed';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/sofiasans-condensed-black.woff2) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
    ----------
    Variabler
    ----------
*/

:root {
    --black: #2A292C;
    --white: #FFFFFF;
    --orange: #FAAB23;
    --green: #009926;
    --font-stack-primary: 'Sofia Sans', system-ui, sans-serif;
    --font-stack-secondary: 'Sofia Sans Condensed', system-ui, sans-serif;
    --font-size-normal: 16px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    --line-height-normal: 1.33;
}

/*
    ----------
    Basis-styling
    ----------
*/

body {
    font-family: var(--font-stack-primary);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
}

h1,
h2,
h3 {
    font-family: var(--font-stack-secondary);
    text-transform: uppercase;
}